$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;

/* Font */
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto/web\ fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../font/roboto/web\ fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/web\ fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/roboto/web\ fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/roboto/web\ fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../font/Shrikhand/Shrikhand-Regular.ttf') format('ttf') ;
    font-style: normal;
    font-weight: normal;
}

/* Breakpoints */
$breakpoints: (
    smallMobile:245px,
    mobile:415px,
    desktop:1025px
);

@mixin bigScreen {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin largeMobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablets {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin smallMobile {
    @media screen and (max-width: map-get($breakpoints, smallMobile)) {
        @content;
    }
}

body {
    font-family: robotoregular, Arial, sans-serif;
    margin: auto;
    position: relative;
}

h4 {
    font-family: Shrikhand, Arial, sans-serif;
    margin: 0;
    font-size: 1.2em;
    padding-top: 30px;
    margin-left: 20px;
    @include largeMobile {
        text-align: center;
        font-size: 1.8em;
    }
}

/* Header */
.fa-arrow-left {
    position: absolute;
    top: 5px;
    left: 15px;
    @include tablets {
        top: 30%;
        font-size: 1.5em;
    }
    @include bigScreen {
        font-size: 1.5em;
    }
}

header {
    width: 100%;
    margin: 10px 0 10px 0;
    position: relative;
    a {
        width: 10%;
        color: black;
    }
    figure {
        width: 90%;
        text-align: center;
        margin: 0;
        img {
            width: 40%;
            @include bigScreen {
                width: 10%;
            }
        }
    }
}

.fig_main {
    width: 100%;
}

/* En-tête */
.geolocalisation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 2px 2px 0 rgb(212, 212, 212);
    i {
        margin-right: 15px;
        font-size: 12px;
    }
    p {
        margin: 0;
        font-size: 12px;
    }
}

.description {
    height: 270px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    @include bigScreen {
        height: 220px;
    }
    h1, h2 {
        margin: auto;
    }
    h1 {
        width: 70%;
        padding-top: 30px;
        font-size: 1.3em;
    }
    h2 {
        width: 80%;
        padding-top: 20px;
        font-size: 1em;
        font-weight: normal;
    }
}

button {
    margin-top: 40px;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient($secondary, $primary);
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(220, 220, 220);
    &:hover {
        opacity: 0.8;
        box-shadow: rgb(110, 110, 110);
    }
    @include smallMobile {
        margin-top: 5px;
    }
}

/* Section fonctionnement */
h3 {
    padding-left: 15px;
    @include bigScreen {
        padding-left: 0;
    }
}

.fonctionnement {
    padding-top: 20px;
    padding-bottom: 50px;
    @include bigScreen {
        width: 80%;
        margin: auto;
    }
}

.fonctionnement_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    @include bigScreen {
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }
    @include smallMobile {
        height: 350px;
    }
    div {
        display: flex;
        align-items: center;
        width: 280px;
        border-radius: 25px;
        padding: 30px 20px;
        background-color: rgb(246, 246, 246);
        box-shadow: rgb(212, 212, 212);
        @include smallMobile {
            width: 70%;
        }
        &:hover {
            background-color: rgba(147,86,220,0.1);
            i {
                color: $primary;
            }
        }
        p:first-child {
            margin: 0;
            margin-right: 15px;
            margin-left: -30px;
            padding: 2px 7px;
            color: #fff;
            background-color: $primary;
            border-radius: 20px;
        }
        i {
            color: rgb(126, 126, 126);
            font-size: 20px;
            margin-right: 20px;
        }
        p:last-child {
            font-weight: bold;
            margin: 0;
        }
    }
}